@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic);

:root, html, body {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    height: 100vh;
    background-image: url(../Assets/fontpage.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 12000px rgba(0, 0, 0, 0.4);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-left: 70px;
    padding-top: 30px;
}

.title {
    color: #fefefe;
    font-size: 6rem;
    font-family: 'Playfair Display', sans-serif;
    padding-top: 10px;
}

.header {
    color: #fefefe;
    font-size: 3rem;
    font-family: 'Playfair Display', sans-serif;
    padding-bottom: 20px;
    margin: 0;
}

.paragraph {
    color: #fefefe;
    font-size: 2rem;
    font-family: 'Playfair Display', sans-serif;
    margin: 1%;
    margin-left: 0;
}

.scroll-btn {
    background-color: #fefefe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.20rem;
    padding: 20px;
    border: none;
    cursor: pointer;
    width: 200px;
    height: 70px;
    margin-top: 2rem;
    transition: transform 0,5s ease;
}

.scroll-btn:hover {
    transform: translateY(-5px);
}

.picker {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../Assets/secondpage.jpg);
    background-size: cover;
    box-shadow: inset 0 0 0 12000px rgba(0, 0, 0, 0.4);
}

.coffee-info {
    display: flex;
    flex-direction: row;
    width: 70vw;
    min-height: 60vh;
    border: 3px solid #fefefe;
    margin-bottom: 1rem;
    padding: 0;
}

.picker-btn {
    background-color: #fefefe;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    padding: 20px;
    border: none;
    cursor: pointer;
    width: 350px;
    height: 120px;
    margin-top: 4rem;
    transition: transform 0,5s ease;
}

.picker-btn:hover {
    transform: translateY(-5px);
}

.coffee-info-container {
    width: 100%;
    padding: 2rem;
    font-size: 1.2rem;
    color: #fefefe;
    font-family: 'Courier New', Courier, monospace;
}

.coffee-info-img {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.coffee-img {
    width: 33vw;
}

.coffee-flavor-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.coffee-grind-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}

.coffee-flavor {
    padding-right: 2rem;
}

.coffee-grind {
    padding-right: 2rem;
}

.coffee-description {
    min-height: 10vh;
}

@media (max-width: 1024px) {
    .picker-btn {
        background-color: #fefefe;
        font-family: 'Courier New', Courier, monospace;
        font-size: 1rem;
        padding: 20px;
        border: none;
        cursor: pointer;
        width: 200px;
        height: 80px;
        margin-top: 2.5rem;
        transition: transform 0,5s ease;
    }

    .coffee-info-container {
        width: 100%;
        padding: 1.5rem;
        font-size: 0.8rem;
        color: #fefefe;
        font-family: 'Courier New', Courier, monospace;
        word-wrap: anywhere;
    } 
}

@media (max-width: 480px) {
    .header {
        color: #fefefe;
        font-size: 2rem;
        font-family: 'Playfair Display', sans-serif;
        padding-bottom: 20px;
        margin: 0;
    }

    .title {
        color: #fefefe;
        font-size: 4.7rem;
        font-family: 'Playfair Display', sans-serif;
        padding-top: 5px;
    }

    .paragraph {
        color: #fefefe;
        font-size: 1rem;
        font-family: 'Playfair Display', sans-serif;
        margin: 1%;
        margin-left: 0;
    }
    
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 0;
        height: 100vh;
    }

    .coffee-info {
        display: flex;
        flex-direction: column-reverse;
        width: 90vw;
        min-height: 60vh;
        border: 3px solid #fefefe;
        margin: 1rem 0;
        padding: 0;
    }

    .coffee-img {
        width: 80vw;
    }

    .coffee-info-container {
        width: auto;
        padding: 0px 14px;
        font-size: 0.8rem;
        color: #fefefe;
        font-family: 'Courier New', Courier, monospace;
    }

    .picker-btn {
        background-color: #fefefe;
        font-family: 'Courier New', Courier, monospace;
        font-size: 0.8rem;
        padding: 16px;
        border: none;
        cursor: pointer;
        width: 160px;
        height: auto;
        margin: 2rem 0;
        transition: transform 0,5s ease;
    }

    .picker {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        min-height: 100vh;
        background-image: url(../Assets/secondpage.jpg);
        background-size: cover;
        box-shadow: inset 0 0 0 12000px rgba(0, 0, 0, 0.4);
    }
}
